.navbar {
    display: flex;
    padding: 10px 30px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 1000;
    left: 0;
    top: 0;
    background-color: white;
    border-bottom: 2px solid blue;

}

.nav-links {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 17px;
}

.nav-links a {
    text-decoration: none;
    color: blue;
}

.nav-links a span{
    text-decoration: none;
    color: white;
}
.nav-links a:hover {
    text-decoration: underline;
    color: darkblue;
}

.nav-btn{
     background-color: blue; 
     padding: 9px 15px;
     border-radius: 5px ;
}

.nav-btn:hover {
    background-color: darkblue;
}

.logo {
    display:flex;
}

.logo-image{
    color: rgb(1, 191, 255);
    font-size: 30px;
    font-weight: bold;
    margin: 8px 30px;
}
.logo-text {
    font-size: 30px;
    font-weight: bold;
    color:#333;
}

.nav-links a {
    margin: 0px 10px;
}

.icone {
    color:grey;
    margin-top: 5px;
}

.nav-icone {
    display: flex;
    align-items: center;  
}

body {
    margin : 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.first-section {
  
    width:100%;
    align-items:center;
    justify-content:flex-start;
    display:flex;
    padding: 100px 30px;
    background-color: blue;
    color: white;
}
 
.first-section-image img {
    width: 600px;
    height: 400px;
    margin-left: 300px ;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 20px;
   
}

.first-section-content {
    max-width : 600px;
}

.first-section-content h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.first-section-buttons {
    display: flex;
    margin-top: 20px;
}
.first-section-btn1 {
    background-color: White;
    color: blue;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 15px;

}
.first-section-btn1:hover {
    background-color: lightgray;
    color: blue;
}

.first-section-btn2 {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid white;
     
}

.first-section-btn2:hover {
    background-color: white;
    color: blue;
}

.second-section {
    padding: 100px 30px;
}

.second-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-section h2 {
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 100px; 
}

.second-section-item {
    justify-content: center;
    text-align: center;
}

.second-section p {
    margin: 16px 16px;
    text-align: center;
    align-items: center;
}

.third-section {
    background-color: blue;
    color: white;
    padding: 70px 30px;
    align-items:center;
    text-align: center;
}

.third-section h2 {
    font-size:30px;
    font-weight: bold;
    justify-content:center;
    margin-bottom: 100px;
}

.third-section-content {
    display: flex;
    justify-content: center;
    text-align: center;
}

.third-section-item {
    justify-content: center;
    text-align: center;
    margin: 0px 20px;
    width: 100%;
}

.fourth-section {
    text-align: center;
    justify-content: center;
    padding: 70px 70px;
}

.fourth-section h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}

.fourth-section p {
    font-size: 18px;
    margin-bottom: 50px;
}

.fourth-section-btn {
    background: blue;
    color: white;
    border-radius: 7px;
     padding: 11px 15px;
     text-decoration: none;
}

.fourth-section-btn:hover {
    background-color: darkblue;
    margin: 11px 15px;
}

footer {
    padding: 50px 60px;
    background-color: rgb(22, 27, 52);
}
.footer-content {
    background-color: rgb(22, 27, 52);
    color: white;
    align-items: center;
    justify-content: space-between;
     padding: 20px 30px;
    display: flex;
}

.footer-content p {
    font-size: 15px;
    color: rgb(86, 86, 173);
}

.footer-links a{
    font-size: 15px;
    text-decoration: none;
    color: rgb(86, 86, 173);
}

.footer-links a:hover {
    text-decoration: underline;
    color: white;
}

.footer-info a {
    font-size: 15px;
    text-decoration: none;
    color: rgb(86, 86, 173);
}

.footer-info a:hover {
    text-decoration: underline;
    color: white;
}

.barre {
    width: 100%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
}

.copyright {
    text-align: center;
    padding: 20px 0;
    background-color: rgb(22, 27, 52);
    color: rgba(255, 255, 255, 0.257);
}